$base-right-color: #CACF85;
$base-text-color:#4D5382;

.card-body {
  margin: 10px 20px;

  label {
    display: block;
    float: left;
  }

  // input {
  //   width: 35rem;
  // }

  div{
    padding: 10px;
  }
}

